.venv/
**/__pycache__/

# pytest
pytest.log
.pytest_cache/

# pytest-html
report/

# playwright
test-results/

# allure
allure-results/

#robotframework
selenium-screenshot-*.png
geckodriver.log
*.html
*.xml

